@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&display=swap');
:root {
  --gold: #ffdd00;
  --red: #d71921;
  --light_blue: #0078d7;
  --dark_blue: #006abe;
  --white: #ffffff;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--white);
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

h2 {
  margin: 0;
}

.main__header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 4px 11px;
  box-shadow: 0px 0px 9px 3px rgba(41, 41, 41, 0.25);
  background: var(--light_blue);
}

.main-container {
  margin: 80px 20px 0 20px;
}

.content--dark_blue {
  color: var(--dark_blue);
}

.color-red {
  color: var(--red);
}

/*TOOLTIP*/
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

/* report error btn */
.report-error {
  text-decoration: none;
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 40px;
  width: 150px;
  border: 2px solid var(--red);
  border-radius: 20px;
  box-shadow: 8px 10px 24px -6px rgba(0, 0, 0, 0.5);
  background: var(--red);
  color: var(--white);
  font-weight: 500;
}